<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    {{>header}}

    <div class="main-content">
        <br>
        <img class="about">
    </div>
    {{>footer}}
</body>
</html>