<!DOCTYPE html>
<html lang="en">
<head>
    {{>head}}
</head>
<body>
    <div class="main-content">
        {{>header}}

        <p class="desc">{{message}}<a href="#" style="text-decoration: none">marsin.com</a></p>
    </div>

    {{>footer}}
</body>
</html>