body {
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  max-width: 650px;
  margin: 0 auto;
  /* padding: 0 16px; */
  background-image: url(../img/space.jpg);
  background-size: cover;
  align-items: center;
  /* justify-content: center; */
  background-position: center center;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.desc {
  background-color: #eee; 
  color: #111; 
  text-align: center; 
  border-radius: 4px; 
  padding: 10px 15px;
}

footer {
  color: #888;
  border-top: 1px solid #eee;
  margin-top: 16px;
  padding: 16px 0;
}

header {
  /* margin: 16px auto 48px 44px; */
  margin: auto;
  padding: 0 16px;
}

h1 {
  font-size: 64px;
  margin-bottom: 16px;
}

header a {
  color: #eee;
  margin: 0 12px;
  text-decoration: none;
}

.planet {
  border-radius:50%;
  background-size:cover;
  box-shadow:
      0px 0px 10px 10px rgba(0,0,0,0.9) inset,
      0 0 15px 0.1px #fff;
      animation:spin 10000s linear alternate infinite;
}
@keyframes spin {
  0% {background-position: 0 0;}
  100% {background-position: 126000px 0;}
}